.background {
  background-color: var(--light-bg);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calcBody {
  width: 400px;
  position: relative;
  height: 812px;
  background-color: var(--calc-light);
  padding: 4rem 2rem ;
  border-radius: 39px;
  box-shadow: 41px 39px 51px 17px rgba(96, 190, 255, 0.39);
  -webkit-box-shadow: 41px 39px 51px 17px rgba(96, 190, 255, 0.39);
  -moz-box-shadow: 41px 39px 51px 17px rgba(96, 190, 255, 0.39);
}
.screen_part {
    width: 100%;
    height: 30%;
    padding:11.2px;
    font-size: 52px;
    font-weight: 500;
    word-wrap: break-word;
    word-break: break-all;
    overflow-y: scroll;
    position: relative;
}
::-webkit-scrollbar{
    width:0;
}
.button_part {
    width: 100%;
    height: 70%;
    position: relative;
}
.button_part-operations{
position: absolute;
right: 0;
bottom: 0;
}
.button_part-numbers {
    position: absolute;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  bottom:0;
  left: 0;
}
.button_part-deletion {
    position: absolute;
  display: flex;
  flex-direction: row;
  left:0;
  top:calc(100% - 412.12px);
}
.button_part-numbers button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  color: var(--number-color);
  background-color: var(--number-bg);
  font-size: 32px;
  font-weight: 400;
  margin: 0.7rem;
  cursor: pointer;
}
.button_part-operations button {
  font-size: 32px;
  font-weight: 400;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  color: var(--number-color);
  background-color: var(--operation-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 22.4px 0 11.2px 0;
  cursor: pointer;
}
.button_part-deletion button {
  margin:12px;
  font-size: 28px;
  font-weight: 400;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  color: var(--deletion-color);
  background-color: var(--number-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.button_part-numbers .zero {
  width: calc(120px + 1.4rem);
  border-radius: 16px;
}
.screen_part-p{
max-width: 100%;
max-height:100% ;
}
.dark-lightbutton{
  position: absolute;
  right:0;
  margin-top:-3rem;
  margin-right: 2rem;

}
.theme {
  --bg-color: #111;
  --main-color: #fefefe;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--bg-color);
  border-radius: 50%;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  cursor: pointer;
  transition: box-shadow 0.3s, transform 0.3s;
}

.input {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
}

.icon {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
}

.icon.icon-moon {
  fill:#3f51b5;
}

.icon.icon-sun {
  stroke: #ffeb3b;
  opacity: 0;
}

.input:checked ~ .icon.icon-sun {
  opacity: 1;
}

.input:checked ~ .icon.icon-moon {
  opacity: 0;
}

.theme:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.active-operation{
  background-color: var(--dark-bg) !important;
}
.active-deletion{
  background-color: var(--deletion-gray) !important;
  color:#A5A5A5 !important;
}
.calc-bg{
  background-color: var(--calc-dark) !important
}
.bg-active{
  background-color: #183153;
}
.active-number{
  background-color: #303136 !important;
}
.active-screen{
  color:var(--light-bg)
}